<div class="wrapper">
    <nav>
        <ul>
            <li data-target="inicio">
                <div class="pab"></div>
            </li>
            <li data-target="cv-dossier">
                <figure></figure>
                <figcaption><span>CV</span><span class="extra-figcaption"><span>&nbsp & &nbsp</span><span class="extra-figcaption">DOSSIER</span></figcaption>
            </li>
            <li data-target="timeline">
                <figure></figure>
                <figcaption><span>TIME</span><span>LINE</span></figcaption>
            </li>
            <li data-target="laboratory">
                <figure></figure>
                <figcaption><span>LAB</span><span class="extra-figcaption">ORATORY</span></figcaption>
            </li>
        </ul>
    </nav>
</div>